// Place all the styles related to the AttivitaExtra controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blu_nav: rgb(28, 39, 79);

a {
	text-decoration: none;
}

.activity {
	height: 250px;
	margin-top: 15px;
	margin-right: 15px;
}

.activity h1 {
	display: block;
	color: #fff;
	padding-top: 15px;
	margin-left: 15px;
}

#sport {
	background: url(sport.jpg) no-repeat;
	opacity: 0.9;
}

#sport:hover {
	opacity: 1;
}

#scientific {
	background: url(scientific.jpg) no-repeat;
	opacity: 0.9;
}

#scientific:hover {
	opacity: 1;
}

#conference {
	background: url(conference.jpg) no-repeat;
	opacity: 0.9;
}

#conference:hover {
	opacity: 1;
}

.attivita {
	margin-right: 15px;
}

.attivita p {
	text-align: justify;
}

.prev a,
.next a {
	font-size: 12px;
	font-weight: 600;
	color: $blu_nav;
}

.prev a:hover,
.next a:hover {
	text-decoration: underline;
};

.back_to_index {
	margin-top: 20px;
}