// Place all the styles related to the Classe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blu_nav: rgb(28, 39, 79);
$light_grey: #eee;

.column {
	margin: 0px;
	padding: 0px;

	margin-top: 20px;
	margin-right: 20px;
	float: left;
	width: 310px;
}

.column a,
.column a:link,
.column a:visited,
.column a:active {
	text-decoration: none;
	color: $blu_nav;
}

.column a:hover {
	color: $blu_nav;
  	font-weight: 600;
}

.board {
	margin-top: 5px;
}

.board span.date {
	color: $blu_nav;
	font-size: 14px;
	font-weight: 600;
}

.board p {
	margin-right: 15px;
	padding: 0px;
	padding-left: 1px;
	padding-bottom: 15px;
	border-bottom: 1px solid $light_grey;
	text-align: justify;
}

.board p:last-child {
	border-bottom: 0
}

.coordinamento p {
	clear: both;
}

.student-1,
.student-2 {
	clear: both;
	float: left;
	width: 120px;
	height: 120px;
	-webkit-border-radius: 60px;
	   -moz-border-radius: 60px;
	        border-radius: 60px;
	margin-bottom: 10px;
	margin-right: 20px;
}

.student-1 {
	background: url(student-1.jpg) no-repeat;
	background-position: center;
	background-size: 220px;
}

.student-2 {
	background: url(student-2.jpg) no-repeat;
	background-position: center;
	background-size: 150px;
}

div.student {
	width: 800px;
	height: 120px;
}