// Place all the styles related to the Docente controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blu_nav: rgb(28, 39, 79);
$light_grey: #eee;

.column {
	margin: 0px;
	padding: 0px;

	margin-top: 20px;
	margin-right: 20px;
	float: left;
	width: 310px;
}

.column a,
.column a:link,
.column a:visited,
.column a:active {
	text-decoration: none;
	color: $blu_nav;
}

.column a:hover {
	color: $blu_nav;
  	font-weight: 600;
}

.curriculum h1 {
	margin-top: 5px;
	margin-bottom: 15px;
}

.curriculum img {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	float: left;
	margin-right: 20px;
}

.curriculum p {
	display: block;
	float: left;
	width: 710px;
	margin-top: 0;
	margin-right: 20px;
	text-align: justify;
}

.office-hour h1 {
.back_to_index {
	clear: both;
	padding-top: 30px;
}