// Place all the styles related to the Scuola controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  vertical-align: top;
}

.story p {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  text-align: justify;
  float: left;
  width: 350px;
}

.story figure,
.story figure img,
.story figure figcaption {
  margin: 0px;
  padding: 0px;
}

.story figure {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
  text-align: right;
}