<% check_session %>

<% content_for :title, "Area Riservata" %>

<h1>Gestione Record</h1>

<h3><%= flash[:message] %></h3>

<div class="link_to_new"><a href="/area_riservata/docente">Inserisci un nuovo Docente</a></div>
<%= print_all_teacher %>

<div class="link_to_new"><a href="/area_riservata/classe">Inserisci una nuova Classe</a></div>
<%= print_all_school_class %>