<% content_for :title, "Scuola • Informazioni Burocratiche" %>
<% content_for :aside do %>
	<h1>In <%= params[:controller].capitalize %>...</h1>
	<%= print_aside(ScuolaController.new.aside) %>
<% end %>

<h1>Informazioni Burocratiche</h1>
<div class="bureau">
<p>In questa pagina sono elencate tutte le informazioni di tipo burocratico riguardanti l'Istituto e gli studenti.</p>

<h2>Anno Scolastico 2014-2015</h2>
<p>Le iscrizioni per l'Anno Scolastico 2014-2015 sono chiuse per i nuovi studenti. Per tutti gli studenti attualmente iscritti in una delle classi tra la Prima e la Quarta, &egrave; possibile compilare i <a href="#">moduli di iscrizione</a> all'anno Scolastico succesivo entro e non oltre il 31 agosto 2014.</p>

<h2>Stage pre-universitario</h2>
<p>Si ricorda inoltre che gli studenti iscritti al quinto e ultimo anno scolastico possono decidere di partecipare allo stage estivo pre-universitario durante il mese di agosto compilando i <a href="#">moduli di iscrizione</a> e consegnandoli manualmente in segreteria entro e non oltre il 31 luglio 2014.</p>

<h2>Cambiamento sezione Assenze del Regolamento Scolastico</h2>
<p>Nel rispetto dei cambiamenti ministeriali previsti per l'Anno Scolastico 2014-2015, l'Istituto ha deciso in sede di Consiglio d'Istituto di modificare la normativa riguardante le assenze nel Regolamento Scolastico. Gli studenti e i genitori sono tenuti a leggere e firmare il <a href="#">documento</a> che attesta la relativa presa visione del cambiamento in essere.</p>
</div>