<% content_for :title, "Scuola - Obiettivi" %>
<% content_for :li_title, "scuo" %>
<% content_for :aside do %>
    <ul>
      <li><a href="/scuola/storia">Storia</a></li>
      <li><a href="/scuola/obiettivi" class="active">Obiettivi</a></li>
      <li><a href="/scuola/successi">Successi</a></li>
      <li><a href="/scuola/info_burocratiche">Info Burocratiche</a></li>
      <li><a href="/scuola/regolamento">Regolamento</a></li>
    </ul>
<% end %>

<h1>Scuola#obiettivi</h1>
<p>Find me in app/views/scuola/obiettivi.html.erb</p>
