<% content_for :title, "Scuola • Obiettivi" %>
<% content_for :aside do %>
	<h1>In <%= params[:controller].capitalize %>...</h1>
	<%= print_aside(ScuolaController.new.aside) %>
<% end %>
<h1>Obiettivi</h1>
<div class="obiettivi">
<p><%= image_tag("mission.jpg", size: "340x226", alt: "Mission", title: "Mission") %>L'obiettivo di ogni scuola &egrave; il medesimo: preparare al meglio i propri studenti. &Egrave; dalla formazione scolastica che crescono gli uomini adulti che in futuro saranno la colonna portante della nostra societ&agrave;. Oltre a ci&ograve;, la vera mission del Liceo Alan Turing &egrave; quella di fornire ai propri studenti un percorso di studi innovativo, che sia il connubio di ci&ograve; che di buono aveva l'antico sistema di istruzione con la modernit&agrave; del nuovo bagaglio tecnico-scientifico sviluppato negli ultimi anni. All'atto di fondazione del nostro Liceo, il punto principale &egrave; stato quello di non ricadere negli errori del passato. Per consentire ai ragazzi di godere di un percorso formativo, &egrave; opportuno e necessario consentire loro di imparare qualcosa di concreto, che li avvicini sempre di pi&ugrave; all'esperienza universitaria.</p>
<p>Il successo del nostro Liceo &egrave; basato su un semplice concetto: la scuola deve essere al servizio di studenti e genitori, non il contrario. Oltre al dovere dello studio, gli studenti hanno il diritto di poter svolgere attivit&agrave; extracurricolari che si addicano alle loro passioni. Per questo, la scuola mette a disposizione delle strutture dedicate allo svolgimento di sport, approfondimenti, conferenze, colloqui, cineforum e molto altro ancora.</p>
<p>Inoltre, i genitori sono accontentati per quanto riguarda il controllo dell'andamento disciplinare dei propri figli. Un'area riservata nel portale del nostro Liceo &egrave; stata infatti creata appositamente per soddisfare quest'esigenza. Per ogni studente, sar&agrave; possibile visualizzare voti, note disciplinari, note di merito e altre informazioni. Sar&agrave; inoltre possibile comunicare con i professori e firmare comunicazioni attraverso il portale, cos&igrave; da non dover preoccuparsi di scadenze e problemi burocratici.
</p>
</div>