<% content_for :title, "Scuola • Regolamento" %>
<% content_for :aside do %>
	<h1>In <%= params[:controller].capitalize %>...</h1>
	<%= print_aside(ScuolaController.new.aside) %>
<% end %>

<h1>Regolamento</h1>
<div class="rules">
<p>Con l'entrata in vigore dello Statuto delle Studentesse e degli Studenti (D.P.R. 249/1998)  ogni istituto  scolastico deve analizzare il proprio Regolamento adeguandolo alle norme  previste. In particolare l'articolo 2 riguardante i diritti degli studenti risulta di particolare interesse affinché  i principi in esso contenuti non rimangano delle mere aspirazioni ma possano  tradursi nella quotidianità. Così, ad esempio, il diritto alla partecipazione attiva e responsabile degli studenti alla vita della comunità scolastica implica conseguenze rilevanti: si riconosce il diritto dello studente a partecipare ai processi decisionali della scuola, sia attraverso i canali tradizionali (Consiglio di Classe e Consiglio d'Istituto), sia attraverso  la creazione di nuovi spazi di partecipazione che consentano agli studenti un coinvolgimento diretto nelle scelte più importanti della comunità scolastica (ad esempio alcune scuole hanno formato delle commissioni paritetiche con gli studenti per la stesura del Piano dell'Offerta Formativa).<br><br>
Il regolamento d'istituto è  l'attuazione dello Statuto in ogni scuola, deve  dunque dichiarare le modalità, gli spazi i tempi di azione degli studenti, deve stabilire le regole che garantiscano il rispetto dei diritti e dei doveri da parte di tutte le componenti scolastiche e  prevedere eventuali sanzioni . Risulta evidente lo stretto legame tra regolamento d'istituto e piano dell'offerta formativa del quale il regolamento costituisce norma e garanzia di attuazione. E' indispensabile, quindi, che la formulazione dei regolamenti sia affidata ad una commissione in cui siano rappresentate tutte le componenti scolastiche, studenti, famiglie, docenti, tutti quelli cioè legati dal patto  espresso nel POF e dal fine ultimo del successo formativo di ogni ragazzo. L'adesione ad un regolamento condiviso fin dalla  sua formulazione si configura per tutti come assunzione di responsabilità e di consapevolezza del proprio ruolo e del proprio contributo per  migliorare la  partecipazione al processo di riforma scolastica.<br><br>
Il Piano dell'Offerta Formativa e il Regolamento d'Istituto sono strumenti fondamentali per delineare un sistema di regole condiviso nell'ambito dell'autonomia scolastica. La modifica del Regolamento d'Istituto diviene quindi un'occasione  per ripensare, in modo democratico e con particolare attenzione al criterio dell'inclusione, i processi decisionali e il sistema dei rapporti tra le varie componenti della comunità scolastica. In considerazione del fatto che lo Statuto delle Studentesse e degli Studenti sostanzia la cittadinanza studentesca e il sistema di partecipazione e rappresentanza, il Regolamento d'Istituto dovrebbe analizzare anche gli  aspetti legati alla partecipazione studentesca. Occorre quindi individuare i comportamenti che configurano mancanze disciplinari;  le sanzioni previste per queste mancanze; in le sanzioni alternative; regolare la composizione, la procedura di nomina e il funzionamento dell'Organo di Garanzia interno; determinare le forme di dialogo tra studenti e istituzioni scolastiche sulle scelte in tema di programmi, didattica, criteri di valutazione, scelta dei libri, ecc. … individuare le modalità di esercizio del diritto di associazione, di uso dei locali, dell'organizzazione delle attività, ecc. … 
Elementi qualificanti del regolamento d'istituto sono:</p>

<ul><li> regolamentazione dell'assistenza allo studio (learning center, attività di tutoraggio,…)
<li> attenzione alla valutazione
<li> flessibilità del regolamento
<li> coerenza tra il regolamento e il piano dell'offerta formativa
<li> comitato studentesco (autoregolamentato, con potere decisionale in base al D.P.R. 567/1996);
<li> linguaggio semplice e comprensibile.</ul>

<p>Di seguito riportiamo un esempio di regolamento di istituto elaborato in conformità ai principi e alle norme dello Statuto delle studentesse e degli studenti e del Regolamento dell'autonomia delle istituzioni scolastiche. Il testo è una rielaborazione, curata dall'Ufficio studenti di alcuni regolamenti stilati nell'ambito del Progetto S.O.S., la cui scheda illustrativa è riportata nel capitolo Alcune esperienze.<br><br>
Si tratta di un'utile base di partenza, uno spunto di riflessione in vista dell'elaborazione dei regolamenti delle singole istituzioni scolastiche che, naturalmente, devono tenere conto soprattutto della propria specifica realtà e dei propri specifici bisogni.
</p>

<h2>Regolamento d'Istituto</h2>

<p>Art. 1<br>
Il presente Regolamento è conforme ai principi e alle norme dello "Statuto delle Studentesse e degli Studenti", emanato con il D.P.R. 24 giugno 1998 n. 249, del Regolamento dell'Autonomia delle Istituzioni scolastiche, emanato con il D.P.R. 8 marzo 1999 n. 275, del D.P.R. 10 ottobre 1996, n. 567, e sue modifiche e integrazioni.  <br>
È coerente e funzionale al Piano dell'Offerta Formativa adottato dall'Istituto.
</p>

<p>Art. 2<br>
Il presente Regolamento è stato redatto dalle rappresentanze di tutte le componenti della comunità scolastica, comprese quelle degli studenti e dei genitori, nella consapevolezza che tutte le componenti operanti nella scuola, ciascuna nel rispetto del proprio ruolo e secondo le proprie competenze, sono costantemente impegnate a garantire in ogni circostanza il rispetto delle libertà sancite dalla Costituzione della Repubblica italiana.<br>
Sono previsti dei documenti aggiuntivi per regolamentare singole discipline di rilevanza interna all'Istituto quali: regolamenti di classe, regolamenti specifici per l'utilizzo degli spazi attrezzati, regolamento del Comitato Studentesco, regolamento dell'Assemblea degli Studenti, procedure attuative.<br>  È inoltre possibile dotarsi di altri regolamenti specifici, compresi quelli per disciplinare l'assemblea di classe. Detti regolamenti sono redatti e adottati, salvo diverse disposizioni previste dalle normative vigenti, tenendo conto della partecipazione attiva e responsabile di tutte le diverse componenti della comunità scolastica.
</p>

<p>Art. 3<br>
La scuola favorisce e promuove la formazione della persona e assicura il diritto allo studio garantito a tutti dalla Costituzione. L'indirizzo culturale della scuola si fonda sui principi della Costituzione repubblicana, al fine di realizzare una scuola democratica, dinamica, aperta al rinnovamento didattico - metodologico e ad iniziative di sperimentazione che tengano conto delle esigenze degli studenti nel pieno rispetto della libertà di insegnamento e nell'ambito   della legislazione vigente. La scuola è aperta ai contributi creativi responsabilmente espressi dalle sue componenti: gli studenti, i genitori, il personale ATA e i docenti. Gli organi collegiali competenti potranno, inoltre, prendere in considerazione altri apporti che dovessero pervenire dalle forze sociali e culturali organizzate esterne ala scuola. Sono considerati assolutamente incompatibili con i criteri sopra enunciati, e quindi in ogni modo vietati, atti di intimidazione della libera e democratica espressione o partecipazione delle varie componenti alla vita della scuola, manifestazioni di intolleranza, qualsiasi forma di violenza e discriminazione.
</p>

<p>Art. 4<br>
La scuola si propone come luogo di educazione in senso ampio, dove il processo di apprendimento, l'acquisizione delle conoscenze e lo sviluppo della coscienza critica  degli studenti vengono favoriti e garantiti dal "patto formativo"; attraverso di esso si  realizzano gli obiettivi del miglioramento della qualità, della trasparenza, della flessibilità, della collegialità e della partecipazione attiva, secondo le modalità definite dal Piano dell'Offerta Formativa dell'Istituto.<br>
Nello spirito del "patto formativo", ogni componente si impegna ad osservare e a far osservare il presente regolamento, che, secondo la prassi istituzionale, è adottato dal Consiglio di Istituto ai sensi dell'Art.10.3, comma a, del D.Lgs. 297/1994 ed ha pertanto carattere vincolante. È uno strumento a carattere formativo, che definisce le corrette norme relazionali e procedurali alle quali far riferimento, il cui rispetto diviene indice di consapevole  e  responsabile partecipazione alla vita scolastica.   
</p>

<p>Art. 5 <br>
Il presente regolamento può essere modificato dal Consiglio di Istituto, secondo le modalità previste dallo Statuto delle Studentesse e degli Studenti, anche su proposta delle singole componenti scolastiche e degli Organi Collegiali, previa informazione e condivisione da parte di tutta la comunità scolastica. 
</p>

<p>Art. 6<br>
Gli studenti hanno diritto ad una formazione culturale e professionale qualificata, attenta ai bisogni formativi, che rispetti e valorizzi, anche attraverso attività di orientamento, l'identità di ciascuno e sia aperta alla pluralità delle idee. <br>
La scuola garantisce la libertà d'apprendimento di tutti e di ciascuno nel rispetto della professionalità del corpo docente e della libertà d'insegnamento. Il diritto all'apprendimento è garantito a ciascuno studente anche attraverso percorsi individualizzati (mediante: didattica per livelli, recupero approfondimento, tutoring, learning center) tesi a promuoverne il successo formativo. Sin dall'inizio del curriculum lo studente è inserito in un percorso di orientamento, teso a consolidare attitudini e sicurezze personali, senso di responsabilità, capacità di scelta tra i diversi indirizzi dell'istituto o tra le proposte di formazione presenti sul territorio.<br>
Ciascuno studente ha diritto ad una valutazione trasparente e tempestiva, volta ad attivare un processo di autovalutazione che lo conduca ad individuare i propri punti di forza e di debolezza e a migliorare il proprio rendimento: a tale riguardo i docenti si impegnano a comunicare contestualmente gli esiti delle prove orali, mentre per le verifiche scritte gli elaborati dovranno essere riconsegnati non oltre i dieci giorni che precedono la successiva prova. I singoli docenti, i consigli di classe e gli organi scolastici individuano le forme opportune di comunicazione della valutazione per garantire la riservatezza di ciascuno studente e la correttezza dell'informazione data.<br>
La scuola garantisce l'attivazione di iniziative finalizzate al recupero delle situazioni di ritardo e di  svantaggio.
</p>

<p>Art. 7<br>
Gli studenti hanno diritto ad essere informati in maniera efficace e tempestiva sulle decisioni e sulle norme che regolano la vita della scuola, in particolare alla conoscenza delle scelte relative all'organizzazione, alla programmazione  didattica, ai criteri di valutazione, alla scelta dei libri di testo e del materiale didattico in generale ed in particolare su tutto ciò che può avere conseguenze dirette sulla loro carriera scolastica.
</p>

<p>Art. 8 <br>
	Tutte le componenti della comunità scolastica hanno diritto di esprimere la propria opinione. Gli studenti possono pronunciarsi, anche su loro richiesta, riguardo a tutte le decisioni importanti sull'organizzazione della scuola. Devono quindi essere posti nelle condizioni di poter discutere collettivamente e consapevolmente delle proposte formulate dalle altre componenti, di poterne formulare a loro volta e di concorrere alle decisioni finali (secondo le modalità previste dal Regolamento del Comitato studentesco, dal Piano dell'Offerta Formativa e dalle normative vigenti).<br>
Ciascuna componente ha il diritto di diffondere le sue idee mediante l'uso di documenti distribuiti alle singole persone. Il Consiglio di Istituto decide le modalità di affissione e pubblicizzazione dei documenti redatti dalle assemblee delle singole componenti.
</p>

<p>Art. 9<br>
	Ogni componente può riunirsi nelle assemblee previste dai Decreti Delegati; in particolare le assemblee degli studenti sono considerate parte integrante della loro formazione educativa. 
Gli studenti hanno diritto a partecipare in modo attivo e responsabile alla vita della Scuola. Gli studenti partecipano, intervenendo in ogni fase dell'elaborazione e della decisione, con una rappresentanza paritetica alle commissioni incaricate di volta in volta di promuovere iniziative e attività.<br>
Gli studenti hanno diritto di associarsi liberamente all'interno dell'Istituto mediante deposito agli atti dello statuto dell'associazione, così come previsto dal D.P.R. 567/96 e sue modifiche e integrazioni. 
Gli studenti hanno diritto ad utilizzare gli spazi della scuola al fine di svolgere iniziative come singoli o come associazioni secondo le modalità previste dagli specifici regolamenti e convenzioni.
</p>

<p>Art. 10<br>
La scuola organizza attività integrative alle quali lo studente può partecipare liberamente; la non partecipazione a tali attività non influisce negativamente sul profitto, la partecipazione può dar esito, secondo le modalità previste, a credito scolastico.<br>
	Le iniziative complementari si inseriscono negli obiettivi formativi delle scuole. La partecipazione alle relative attività può essere tenuta presente dal Consiglio di classe ai fini della valutazione complessiva dello studente.<br>
	Le attività integrative e le iniziative complementari sono disciplinate dal d.P.R. 567/96 e sue modifiche e integrazioni. Il Comitato studentesco ha parere obbligatorio in fase di decisione e organizzazione di ogni iniziativa.<br>
La scuola s'impegna, compatibilmente con le risorse disponibili, ad acquisire una strumentazione tecnologica adeguata e ne promuove l'utilizzo consapevole e l'accesso autonomo da parte degli studenti (conformemente con le norme che regolano l'utilizzo degli spazi attrezzati).
</p>

<p>Art. 11<br>
Tutte le persone appartenenti a tutte le componenti della comunità scolastica hanno diritto a vedere rispettata in ogni situazione la loro dignità personale. I rapporti interni alla comunità scolastica si informano al principio di solidarietà. <br>
Lo studente ha diritto alla riservatezza della propria vita personale e scolastica, fatto salvo l'obbligo di mantenere costante e proficuo il rapporto con le famiglie. I genitori hanno il diritto ad avere informazioni sul comportamento e sul profitto dei propri figli direttamente dagli insegnanti. I dati personali dello studente e le valutazioni di profitto devono essere utilizzati all'interno della comunità scolastica nel rispetto della legge 31 dicembre 1996, n. 675. Lo studente al compimento del diciottesimo anno di età deve essere informato sui diritti che gli derivano dall'acquisizione della capacità di agire ed in particolare dalla predetta legge 31 dicembre 1996, n. 675;  il trattamento dei suoi dati e il passaggio di informazioni inerenti la sua carriera scolastica potrà avvenire, da allora in poi, solo con il suo consenso scritto. 
</p>

<p>Art. 12<br>
	Tutti gli studenti hanno diritto al rispetto della vita culturale e religiosa della Comunità alla quale appartengono, con particolare attenzione ai bisogni degli studenti. La Scuola promuove iniziative atte a favorire il superamento di eventuali svantaggi linguistici, ricorrendo anche, ove necessario a servizi offerti dagli enti territoriali. La scuola promuove nell'ambito degli scambi culturali iniziative di accoglienza e attività varie finalizzate allo scambio fra le diverse culture. <br> 
La scuola organizza servizi alla persona e di counseling anche nell'ambito del Centro Informazione e Consulenza. Ogni dato psicofisico e personale, riferito allo studente, rilevante nell'attività formativa, è registrato in ambiente scolastico con garanzia di massima riservatezza e professionalità.
La scuola garantisce ambienti e strutture adeguate agli studenti portatori di handicap.
</p>

<p>Art. 13<br>
I doveri tendono a garantire nella quotidianità della vita scolastica l'esistenza di un contesto consono all'attuazione del "patto formativo" e all'equilibrato esercizio dei diritti-doveri da parte di ciascuna componente, nel rispetto delle reciproche libertà e come espressione del senso di appartenenza ad un contesto comune di vita.<br>
Ogni componente la comunità scolastica si assume le responsabilità e gli oneri connessi al proprio ruolo, ma mentre questi sono giuridicamente definiti per il personale docente e non docente della scuola dal "Contratto Nazionale di Lavoro", per quanto riguarda gli studenti vengono sanciti dal presente regolamento, nel rispetto della normativa vigente e con particolare riferimento alla normativa di cui all'art.1.
</p>

<p>Art. 14<br>
Gli studenti sono tenuti a frequentare regolarmente i corsi, assolvere assiduamente agli impegni di studio, mantenere un comportamento corretto e collaborativo.<br>
Ad avere nei confronti del capo di Istituto, dei docenti, del personale non docente, lo stesso rispetto che questi ultimi devono loro.<br>
Ad osservare le disposizioni organizzative e di sicurezza dettate dall'apposito regolamento, in particolare non sostando lungo le scale antincendio ed eseguendo con assoluta tempestività, se necessario, le azioni previste dal "piano di evacuazione" dell'edificio scolastico.<br>
Ad utilizzare correttamente le strutture, i macchinari e i sussidi didattici, comportandosi in modo da non arrecare danni al patrimonio della scuola.<br>
A deporre i rifiuti, differenziandoli, negli appositi contenitori ed avere la massima cura nell'uso degli arredi, condividendo la responsabilità di rendere accogliente l'ambiente scolastico.
</p>

<p>Art. 15<br>
La responsabilità disciplinare è personale. Nessuno può essere sottoposto a sanzioni disciplinari senza essere stato prima invitato ad esporre le proprie ragioni. Nessuna infrazione disciplinare connessa al comportamento può influire sulla valutazione del profitto.  <br>
I provvedimenti disciplinari hanno finalità educativa e tendono al rafforzamento del senso di responsabilità ed al ripristino di rapporti corretti all'interno della comunità scolastica.<br>
Le sanzioni disciplinari sono sempre temporanee, proporzionate alla  infrazione disciplinare e ispirate, per quanto  possibile, al principio della riparazione del danno. Esse tengono conto della situazione personale  dello studente. Allo studente è sempre offerta la  possibilità di convertirle in attività in favore della comunità scolastica (sanzioni alternative).
</p>

<p>Art. 16<br>
Le norme che regolano i doveri degli studenti, le infrazioni disciplinari e le relative sanzioni sono state raccolte in quattro tabelle, che fanno riferimento:
<ul><li> alle infrazioni disciplinari non gravi, facilmente verificabili e individuali (tabella A)
<li> alle infrazioni disciplinari gravi e individuali (tabella B)
<li> alle infrazioni disciplinari sanzionabili pecuniariamente (tabella C)</ul>
<p></p>

<p>Art. 17<br>
Per l'irrogazione delle sanzioni alle lettere  f) e  g) e per i relativi ricorsi si applicano le disposizioni di cui all'art. 328, commi 2 e 4, del D.Lgs. 16 aprile 1994, n.297.  Contro le sanzioni  disciplinari diverse da  quelle  sopra individuate è  ammesso ricorso da parte degli studenti entro quindici giorni dalla comunicazione  della loro irrogazione all'organo di garanzia interno alla scuola costituito a norma dell'art. 7. <br>                                                   
I provvedimenti decisi dall'organo  collegiale preposto comportano l'instaurarsi di una procedura aperta da una breve istruttoria a porte chiuse dell'organo disciplinare e seguita dall'audizione dello studente nei cui confronti l'organo procede. Esaurita questa fase l'organo di disciplina torna a riunirsi a porte  chiuse e decide sulla sanzione da comminare. Tale decisione è subito comunicata allo studente interessato che, ammesso dinanzi a tale organo, può chiedere la commutazione della sanzione ai sensi dell'art. 6.2 del presente regolamento. Su tale eventuale richiesta decide in via definitiva l'organo di disciplina, che renderà  tempestivamente note le sue conclusioni all'interessato.
</p>

<p>Art. 18<br>
L'Organo di Garanzia (OG) è composto da:
<ul>
<li> 2 docenti, eletti dal Collegio Docenti
<li> 2 studenti (di cui 1 del biennio e 1 del triennio eletti separatamente)
<li> 1 genitore, eletto dal Comitato Genitori
<li> 1 rappresentante del personale non docente
<li> 1 presidente (scelto dallo stesso OG) che sia attualmente esterno alla scuola (potrebbe essere un ex docente/genitore/studente, un rappresentante indicato dal Comune, un esperto che collabora abitualmente con la scuola...) con la funzione di mediare tra le diverse componenti e di fornire un punto di vista esterno rispetto alla scuola (vanno comunque precisate le competenze che questa figura deve possedere, le risorse a disposizione dell'OG ed eventuali forme di retribuzione per i partecipanti).
</ul><br>
<p>Le elezioni avvengono all'inizio di ogni anno scolastico, secondo le modalità definite da ogni singola componente.<br>
L'OG interviene nelle sanzioni disciplinari (diverse dalle sospensioni) e nei conflitti in merito all'applicazione del Regolamento di Istituto, su richiesta di chiunque ne abbia interesse.<br>
Le funzioni dell'OG sono:</p>
<ul><li> controllo sull'applicazione del Regolamento (tramite interviste, questionari, statistiche...)
<li> proposta di eventuali modifiche/integrazioni (a seguito delle indagini effettuate)
<li> facilitazione/mediazione in caso di conflitto fra le parti
<li> informazione sul Regolamento di Istituto (distribuzione di materiali, controllo sull'efficacia degli interventi informativi)
<li> assistenza agli Organismi di Disciplina dei Consigli di Classe nella definizione delle sanzioni sostitutive
<li> assistenza agli studenti che subiscano un provvedimento di allontanamento dalla scuola (sospensione) durante e dopo il provvedimento stesso (art. 4, comma 8 dello Statuto)
<li> intermediario con l'Autorità Giudiziaria in caso si renda necessario.</ul>
<p>Il ricorso all'OG avviene entro 15 giorni dall'irrogazione della sanzione e può essere inoltrato da parte dello studente o da chiunque ne abbia interesse.<br>
In caso di ricorso o di conflitto l'OG convoca preliminarmente le parti in causa per permettere loro di esporre il proprio punto di vista; qualora lo ritenga opportuno, può consultare un esperto anche esterno alla scuola.<br>
Lo scopo primario dell'OG è quello di arrivare ad una mediazione soddisfacente per le parti in causa; nel caso ciò non sia possibile, l'OG elabora una risoluzione a cui le parti si devono attenere.<br>
La decisione viene verbalizzata e pubblicizzata mediante l'affissione in un apposito spazio.<br>
 	L'OG si riunisce obbligatoriamente nei mesi di ottobre, febbraio e maggio per procedere all'attività di valutazione del funzionamento del Regolamento secondo le modalità prestabilite.<br>
Le riunioni dell'OG devono almeno prevedere la presenza di 4 eletti (tra cui almeno 1 studente) per avere validità legale.<br>
Le decisioni all'interno dell'OG vengono prese a maggioranza o per consenso, a discrezione dell'OG stesso.
L'OG ha diritto, qualora ne faccia richiesta, ad avere una formazione specifica e/o una supervisione di esperti su temi attinenti la propria funzione (ad esempio: la risoluzione dei conflitti, la negoziazione, la normativa scolastica...).</p>

</div>
