<% content_for :title, "Scuola - Storia" %>
<% content_for :li_title, "scuo" %>
<% content_for :aside do %>
    <ul>
      <li><a href="/scuola/storia" class="active">Storia</a></li>
      <li><a href="/scuola/obiettivi">Obiettivi</a></li>
      <li><a href="/scuola/successi">Successi</a></li>
      <li><a href="/scuola/info_burocratiche">Info Burocratiche</a></li>
      <li><a href="/scuola/regolamento">Regolamento</a></li>
    </ul>
<% end %>

<h1>Scuola</h1>
<p>La scuola balabdoafhdsifashdfoiq</p>
<%= @title %>