<% content_for :title, "Scuola • Storia" %>
<% content_for :aside do %>
	<h1>In <%= params[:controller].capitalize %>...</h1>
	<%= print_aside(ScuolaController.new.aside) %>
<% end %>

<h1>La Scuola</h1>
<div class="story">
	<p><%= image_tag("school.jpg", size: "340x180", alt: "L'ex convento di Santo Stefano", title: "L'ex convento di Santo Stefano") %>
		La storia dell'edificio che ospita il Liceo Alan Turing &egrave; di particolare interesse: l'ex Convento di Santo Stefano, infatti, conserva tra le proprie mura una tradizione ed uno spirito unici. Le origini dell’attuale Liceo Alan Turing risalgono all’et&agrave; napoleonica, al Liceo dipartimentale del Brenta, istituito con decreto vicereale il 29 gennaio 1811. L'attività didattica inizi&ograve; il 1° dicembre 1812. A seguito della riforma ginnasiale austriaca, entrata il vigore con l’anno scolastico 1818-19, il ginnasio comunale divenne erariale (statale) e prese il nome di S. Stefano, in considerazione della nuova sede, pi&ugrave; centrale, a cui era destinato: l’ex convento di suore benedettine a S. Stefano, dove ancora si trova.
	</p>
	<p>
		Il Liceo S. Stefano chiuse nel 1958, in seguito alla decaduta di iscrizioni dell'anno precedente. Si decise cos&igrave; di aprire un nuovo piano per la creazione di un Liceo innovativo, che unisse all'antica struttura classica una nuova concezione scientifica. Nasce cos&igrave; il Liceo Alan Turing. Gi&agrave; all'epoca, l'idea fu alquanto innovativa, ma &egrave; soprattutto nel decennio scorso che il Liceo ha guadagnato il maggior numero di iscrizioni, soprattutto per l'adozione di un nuovo piano di Offerta Formativa adeguato alle innovazioni tecnico-scientifiche avvenute durante gli anni.
	</p>
	<p>
		Ad oggi, il Liceo Alan Turing &egrave; diventato il punto di riferimento degli studenti che vogliono unire, oltre alla solidit&agrave; della formazione classica italiana, la modernit&agrave; delle materie tecniche, economiche e scientifiche.
	</p>
</div>