<% content_for :title, "Scuola • Successi" %>
<% content_for :aside do %>
	<h1>In <%= params[:controller].capitalize %>...</h1>
	<%= print_aside(ScuolaController.new.aside) %>
<% end %>

<h1>Successi</h1>
<div class="successes">
<p><%= image_tag("awards.jpg", size: "324x214", alt: "Riconoscimenti", title: "Riconoscimenti") %>Negli anni, il nostro Liceo ha ottenuto numerose riconoscenze sia in ambito accademico che sportivo. I riconoscimenti ottenuti, elencati di seguito, sono conservati con orgoglio nella Bacheca d'Istituto, visitabile all'interno della nostra sede centrale. Qualsiasi riconoscimento in denaro &egrave; stato utilizzato dall'Istituto per aumentare i fondi relativi al Diritto allo Studio e reinvestiti al fine di potenziare le strutture e le attivit&agrave; extracurricolari offerte dal nostro Liceo agli studenti e ai genitori. Per ulteriori informazioni a riguardo, la sezione relativa alla <a href="#">Trasparenza Legale</a> consente di ottenere i dettagli delle spese scolastiche. Di seguito invece sono elencati solamente i premi ottenuti dal Liceo nel corso della sua <a href="/scuola/storia">Storia</a>, mentre il dettaglio con posizionamenti e studenti premiati &egrave; contenuto nel file scaricabile a fine pagina.</p>

<h2>Primati accademici</h2>
<p>I nostri studenti si sono distinti negli anni in numerosi ambiti accademici. Anche grazie al supporto dei nostri professori, possiamo vantare numerosi trofei come:</p><br /><br />
<ul>
	<li>Primo e terzo posto alle Olimpiadi della Matematica</li>
	<li>Secondo e terzo posto alle Olimpiadi della Fisica</li>
	<li>Premio Miglior Studente dell'Anno</li>
	<li>Premio all'Innovazione dell'Istruzione</li>
	<li>Stephen Hawking Award</li>
	<li>Primo posto alle Olimpiadi di Informatica</li>
</ul>

<h2>Riconoscimenti Sportivi</h2>
<p>Il nostro Liceo vanta ottimi risultati sportivi sia in ambito regionale che nazionale, come:</p><br />
<ul>
	<li>Medaglia d'Oro nel Torneo Regionale di Calcio a 5</li>
	<li>Medaglia d'Argento nella Corsa Campestre</li>
	<li>Premio Miglior Istituto ai Giochi della Giovent&ugrave;</li>
	<li>Coppa Scirea</li>
	<li>Premio Miglior Atleta Femminile 2012</li>
</ul>

<p>Scarica il <a href="#">file dettagliato</a> dei nostri successi</p>
</div>