<% content_for :title, "Docenti • " + complete_name(params[:surname]) %>
<% content_for :aside do %>
	<h1><%= "Prof. " + params[:surname].to_s.capitalize %></h1>
	<%= print_aside(docente_aside) %>
<% end %>

<%= create_teacher_path %>

<%= back_to_index_docente %>